@import "src/assets/styles/variables";

$textColor: #acacac;

:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 3;
}

.input-search-container {
  height: 45px;
  overflow-y: hidden;
  &.show-options {
    overflow-y: visible;
  }
}

.input-container {
  display: flex;
  height: 45px;
  border-radius: 3px;
  overflow: hidden;


  button {
    width: 80px;
    background-color: $yellow;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input {
    flex: 1;
    color: $textColor;
    text-transform: uppercase;
    font-weight: 600;
    outline: none;
    padding: 0 20px;
    border: none;
    background-color: #f7f7f7;
  }

  ::ng-deep i {
    color: #ffffff;
    svg {
      width: 25px;
      height: 25px;
    }
  }
}

.options {
  margin-top: 1px;
  .option {
    background-color: #ffffff;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 600;
    color: $textColor;
    border-radius: 3px;
    border: 1px solid #eee;
    margin-top: -1px;
    cursor: pointer;

    &:hover {
      background-color: #f5f5f5;
    }
  }
}
